* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Roboto', sans-serif;

}



#header>h1 {
    background-image: linear-gradient(to right, #553c9a, #b393d3);

    color: #ccffff;
    text-align: center;

    font-size: 4.5rem;
    letter-spacing: 10px;
    word-spacing: 25px;

    text-shadow: 7px 7px 5px black;

}


.nav {
    height: 5vh;
    width: 100%;
    background-image: linear-gradient(to right, #553c9a, #b393d3);  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 10;
}



.nav>ul {

    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 10px;

}


.nav>ul>li>a {
    text-decoration: none;
    color: #ccffff;
    font-weight: 600;
    border: 1px solid transparent;

}

.nav>ul>li:hover {
    transform: scale(1.3);
}


.nav>ul>li :hover {

    color: #ff0066;
    border-top: 2px solid #ccffff;
    border-bottom: 1px solid #ccffff;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



.nav>ul>li {
    list-style: none;

}


.intro {
    background-image: linear-gradient(to right, #CCCCFF, #FFFFFF);
    width: 100%;
    height: 70vh;
    display: flex;
    padding-bottom: 4vh;

}


.intro>.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}


.intro>.left>ul>h1 {
    font-size: 2.5rem;
}

.intro>.left>ul>li {
    list-style-position: inside;
}



.intro>.right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro>.right>img {
    width: 80%;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid darkblue;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

.intro>.right>img:hover {
    transform: scale(1.015);
    box-shadow: white 0px 60px 40px -7px;

}



.regestation {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(to right, #CCCCFF, #FFFFFF);
    display: flex;
    padding-bottom: 4vh;
}


.regestation>.left {
    width: 45%;
    display: flex;
    justify-content: center;
}


.regestation>.left>.left_content {

    width: 85%;
    height: 90%;
    border: 1px solid darkblue;
    background-color: rgb(179, 236, 217);
    border-radius: 10vh;
    padding: 4vw;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.regestation>.left>.left_content:hover {
    transform: scale(1.05);
    box-shadow: rgba(140, 138, 138, 0.56) 0px 22px 70px 4px;
}



.regestation>.right {
    width: 55%;
    display: flex;
    padding-top: 10vh;
    padding-left: 15vh;

}

.reg_form {
    border: 2px solid darkblue;
    padding: 5vh;
    border-radius: 5vh;
    background-color: rgba(189, 223, 250, 0.823);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;


}

.reg_form:hover {
    transform: scale(1.07);
    box-shadow: rgba(122, 120, 120, 0.2) 0px 60px 40px -7px;
}


.reg_form>div {
    height: 30px;
    font-size: 30px;
    display: flex;
    justify-content: end;
    margin: 1.5vw;
}

.reg_form>div>input {
    font-size: 20px;
    border-radius: 5px;
    padding: 0 10px;
}


.reg_form>div>input:active {
    background-color: cyan;
}

#reg_submit {
    margin-left: 25%;
    height: 6vh;
    width: 15vw;

    background-color: #4ef037;
    color: white;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 5px;

    border-radius: 15px;

}


#reg_submit:hover {
    color: black;
    border-radius: 5vh;
}

#reg_submit:active {
    color: white;
    background-color: #1D566E;
}


.get_clg_details {
    width: 100%;
    background-image: linear-gradient(to right, #CCCCFF, #FFFFFF);
    min-height: 40vh;
    height: auto;

    display: flex;
    justify-content: center;
    padding-bottom: 4vh;
}




.clg_details_main {

    width: 70%;
    min-height: 100%;
    height: auto;

    border: 2px solid darkmagenta;
    border-radius: 10vw;

    background-color: rgb(94, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 2vh;
}

.clg_details_main:hover {
    transform: scale(1.07);
    box-shadow: rgba(185, 184, 184, 0.4) 0px 30px 90px;
}

.clg_details_main>input {
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.5rem;
}


#progress {
    height: 5px;
    width: 70%;
    border-radius: 2vh;
    margin: 1.5vh 0;
    background-image: linear-gradient(to right, red, blue);
    visibility: hidden;
    animation: progressForLoadData 0.3s infinite alternate-reverse ease-in-out;
}



#clg_name_search:active {
    padding: 2px;
    background-color: cyan;
}


#clg_name_submit {
    color: white;
    font-weight: 700;
    background-color: green;
}

#clg_name_submit:hover {
    color: yellow;
    border-radius: 5vh;
}

#clg_name_submit:active {
    color: black;
    background-color: darkblue;
}

#create_clg {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(to right, #CCCCFF, #FFFFFF);

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;


}

.allContent_create_clg {
    padding: 2vh 0;
    width: 95%;
    height: 70%;
    border-top: 2px solid #169873;
    border-bottom: 2px solid #169873;
    border-radius: 50%;
    box-shadow: 10px 10px 20px 20px #805D93;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.allContent_create_clg:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 20px 20px #9780a3;
}


.allContent_create_clg>.left {

    background-color: #f193ca;
    height: 100%;
    width: 50%;
    border-radius: 10vh;

    box-shadow: inset 5px 5px 20px gray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allContent_create_clg>.left:hover {
    transform: scale(0.99);
    box-shadow: inset 5px 5px 20px rgb(175, 173, 173);
}


.clg_create_from>div {
    margin: 2vh 0;
}


.clg_create_from>div>label {
    display: block;
}


.clg_create_from>div>input {
    width: 33vw;
    height: 6vh;
    font-size: 1.5rem;
    padding: 2px;
    border-radius: 1vh;

}


.clg_create_from>div>input:active {
    padding: 5px;
    background-color: cyan;

}

.clg_create_from>div>label {
    color: #562C2C;
    font-weight: 700;
    font-size: 20px;
}


#create_clg_btn {
    width: 15vw;
    height: 5vh;
    border: 1px solid cyan;
    border-radius: 1vh;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background-color: darkblue;
    letter-spacing: 5px;

}


#create_clg_btn:hover {
    border-radius: 7vh;
}


#create_clg_btn:active {
    background-color: #F8FCDA;
    color: red;
}



.allContent_create_clg>.right {
    background-color: rgb(236, 240, 113);
    height: 90%;
    width: 40%;
    border: 1px solid #562C2C;
    border-radius: 5vh;
    box-shadow: inset 15px 15px 25px white, 7px 0px 15px red, 5px 5px 25px green;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #562C2C;
    padding: 15vh 4vw;

}

.allContent_create_clg>.right:hover {
    transform: scale(1.02);
}

#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback_line {
    width: 395px;
    border: 1px solid red;
    text-align: center;
}

.feedback_line>img {
    background-color: red;
    height: 20px;
}

.feedback_Show {
    height: 40vh;
    width: 395px;
    background-color: yellow;
    display: none;
    border: 1px solid blue;

}


.footer {
    height: 6vh;
    width: 100%;
    /* background-image: linear-gradient(to left, #553c9a, #b393d3); */

    padding: 1vw;

    background-color: #14248A;

    text-align: center;
    font-size: 2rem;
    color: rgb(170, 155, 255);

    letter-spacing: 1.3rem;
    word-spacing: 2.3rem;
}


footer {
    height: 100vh;
    width: 100%;
    background-color: #14248A;

    display: flex;
    justify-content: space-around;
    align-items: center;

}


footer>.left {
    height: 90vh;
    width: 30%;
    background-color: yellow;
    margin: 15vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    margin-top: 20vh;
}



.left_content_foot {
    height: 97%;
    width: 99%;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #14248A;
    padding: 5vh 1vh;
}


.feed_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -20px;
    border: 1px solid white;
    padding: 1vh;
    border-radius: 1vh;
    transition: ease-in-out border-radius .3s;
}

.feed_form>h1 {
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    top: -65px;
    left: 30%;
    background-color: yellow;
    color: black;
    padding: 0.5vh;
    border-radius: 2vh;
}


.feed_form:hover{
    border-radius: 5vh;
}

.feed_form input:active{
    background-color: cyan;
    padding: 0 .5vh;
}

#feed_name{
    height: 4vh;
    font-size: 1.2rem;
    border-radius: 1vh;
}


#feed_radio {
    padding: 0 5vh;
}

#feed_msg {
    resize: none;
    font-size: 1rem;
    padding: 1vh;
    border-radius: 1vh;
}

#feed_msg:active{
    background-color: cyan;
}


#feed_submit_btn{
    width: 15vh;
    height: 4vh;
    font-weight: 900;
    letter-spacing: 4px;
    background-color: #40ff00;
}

#feed_submit_btn:hover{
    background-color: #00ffff;
    border-radius: 2vh;
}

#feed_submit_btn:active{
    color: white;
}

#progress_feed {
    height: 5px;
    width: 100%;
    border-radius: 2vh;
    margin: 1vh 0;
    background-image: linear-gradient(to right, tomato,cyan);
    visibility: hidden;
    animation: progressForLoadData 0.5s infinite alternate-reverse ease-in-out;
}


footer>.right {
    height: 40vh;
    width: 45%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.right_content_foot {
    height: 99%;
    width: 97%;
    background-color: #14248A;
    border-radius: 2vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dev_img_social {
    width: 95%;
    display: flex;
    justify-content: space-around;
}


#about_img {
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
    border: 1px solid skyblue;
    object-fit: initial;
    transition: ease-in-out , border-radius  0.5s , transform 0.5s;
}


#about_img:hover{
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-radius: 2vh;
    transform: scale(1.4);
}

.dev_img_social>div {
    padding: 5vh 0;
}


.dev_img_social>div>h1 {
    color: white;
    font-size: 2.5rem;
}

.logos {
    margin: 2vh;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 10px;
    transition: ease-in-out  transform 0.15s;
}

.logos:hover{
    transform: scale(1.4);
}

.dev_info {
    width: 75%;
    text-align: center;
    color: white;
}


.show_All_FeedBack_main{
    display: none;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    background-color: #d4b1e15f;

    border-top: 2px solid blue;
    border-bottom: 2px solid blue;

    border-radius: 5vh;
}


#show_all_feed_btn{
    font-size: 1.4rem;
    border-radius: 1vh;
    font-weight: 600;
    color: white;
    background-color: black;
}

#show_all_feed_btn:hover{
    color: pink;
    border-radius: 0;
}

#show_all_feed_btn:active{
    background-color: yellow;
    color: red;
}


#process_all_feeds{
    height: 5px;
    width: 100%;
    border-radius: 2vh;
    margin: 1vh 0;
    background-image: linear-gradient(to right, tomato,cyan);
    visibility: hidden;
    animation: progressForLoadData 0.5s infinite alternate-reverse ease-in-out;
}

#all_feedback{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/* Below is used in user feedback result */
.user_feeds_are{
    height: auto;
    width: 40vh;
    background-color: rgba(56, 244, 219, 0.292);
    border-left: 4px solid red;
    border-right: 4px solid red;

    margin: 2vh 1vh;
    padding: 1vh;

    font-size: 1.1rem;

    border-radius: 2vh;

}







/* Clear Btn style */
.clear_btn{
    background-color: rgb(202, 39, 39);
    height: 20px; 
    width: 40px; 
    color: white; 
    border-radius:1vh; 
    font-weight: 600;
}




/* This class style used in search result --> */
.use_in_search_result {
    border: 1px solid darkmagenta;
    border-radius: 5vh;
    background-color: #fff;
    padding: 10px;

    transition: ease-in-out transform .3s;

}

.use_in_search_result:hover{
    transform: scaleX(1.1);
}

/* Top scroll showing line ----> */
#progress_top{
    width: 0;
    height: 2px;
    background-color: yellow;
    position: fixed;
    top:0;

    display: none;

    z-index: 100;

}



/* scroll to top btn -------> */

#top_scroll_btn{
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-color: white;
    visibility: hidden;
    position: fixed;
    bottom: 70px;
    right: 50px;

}


/* Error box (Start)-----> */

.error_altert {
    width: 50vh;
    padding: 0.5vh;
    height: 20vh;
    border-radius: 1vh;
    box-sizing: border-box;
    position: fixed;
    background-color: darkblue;
    left: 37%;
    top: 40%;
    z-index: 20;

    visibility: hidden;
}

.error_altert>div {
    border: 1px solid darkblue;
    height: 19vh;
    border-radius: 1vh;
    background-color: white;
}

#cancel {
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    border-bottom: 2px solid darkblue;
    background-color: darkblue;
    color: white;
}

#cancel:hover {
    background-color: rgb(82, 82, 193);
}
/* Error box (End)-----> */






/* Css for mobile screen here ------------------------------------------------------------------------> */


@media (max-width: 450px) {
    body {
        background-image: linear-gradient(to right, #CCCCFF, #FFFFFF);
    }

    #header>h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        word-spacing: 2px;
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: center;
        height: 4vh;

    }

    .nav>ul {
        width: 90%;
        font-size: 0.6rem;
    }



    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: auto;

    }

    .intro>.left {
        width: 90%;
        font-size: 0.5rem;
        padding-left: 0;
    }

    .intro>.left>ul>h1 {
        font-size: 1rem;
    }

    .intro>.right {
        width: 75%;
        padding-bottom: 7vh;
    }

    .intro>.right>img {
        width: 100%;
    }

    .regestation {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .regestation>.left {
        width: 80%;
        height: 70vh;
        align-items: center;
        border-radius: 0;
    }

    .regestation>.left>.left_content {
        display: flex;
        align-items: center;
        font-size: 0.7rem;
        padding: 7vh 3vh;
    }

    .regestation>.right {
        width: 80%;
        padding: 2vh;
        justify-content: center;
    }


    .reg_form>div {
        width: 25vh;
        height: 50px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        margin: 3vw 0;
    }

    #reg_submit {
        margin-left: 10%;
        height: 7vw;
        width: 25vw;
        letter-spacing: 3px;
        border-radius: 5px;
        font-size: 1.05rem;
    }


    .get_clg_details {
        margin: 5vh 0;
        justify-content: center;
        /* Change to centre above */

    }

    .clg_details_main {
        font-size: 0.7rem;
    }

    .clg_details_main>input {
        width: 20vh;
        font-size: 1rem;
    }

    #create_clg {
        height: auto;
        width: 100%;
        justify-content: center;
    }

    .allContent_create_clg {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;

    }


    .allContent_create_clg>.right {
        width: 100%;
        margin-bottom: 7vh;
        font-size: 0.5rem;
    }


    .allContent_create_clg>.left {
        width: 100%;
        font-size: 0.5rem;
        height: 50vh;
    }


    .clg_create_from>div>label {
        font-size: 15px;
    }

    .clg_create_from>div>input {
        font-size: 1rem;
        width: 60vw;
    }

    #create_clg_btn {
        width: 20vw;
        height: 4vh;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 2px;
    }


    .footer {
        height: 4vh;
        margin-top: 5vh;
        font-size: 1.3rem;
        letter-spacing: 0;
        word-spacing: 0;
        text-align: center;

    }


    footer {
        flex-direction: column;
        height: auto;
        padding: 2vh 0;
    }

    footer>.left {
        width: 85%;
        margin: 10vh 0;
        height: 85vh;

    }

    .left_content_foot {
        display: block;
        padding: 5vh 1vh;
    }

    .feed_form{
        margin-top:0px;
    }

    .feed_form > h1{
        padding: 0.5vh;
        font-size: 1.5rem;
        width: 20vh;
        border-radius: 1vh;
        left: 25%;
        top: -60px;
    }

    #feed_name{
        width: 30vh;
        font-size: 1rem;
    }
    
    #feed_msg {
        width: 30vh;
        height: 15vh;
        font-size: 1rem;
    }

    footer>.right {
        width: 85%;
    }

    .dev_img_social {
        height: 17vh;
    }

    #about_img {
        height: 30vw;
        width: 30vw;
    }

    .dev_img_social>div>h1 {
        color: white;
        font-size: 1rem;
    }

    .logos {
        margin: 0.5vh;
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 10px;
    }

    .dev_info{
        font-size: 0.7rem;
    }

    #top_scroll_btn{
        bottom: 50px;
        right: 20px;
    
    }
    
    

    .error_altert {
        width: 40vh;
        left: 10%;
        top: 60%;
    }

}





@media (min-width: 430px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to right, #CCCCFF, #FFFFFF);
    }


    
    #header>h1 {
        font-size: 2.5rem;
        letter-spacing: 2px;
        word-spacing: 2px;
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: center;
        height: 5vh;

    }

    .nav>ul {
        width: 80%;
        font-size: 0.75rem;
    }

    .intro>.left {
        width: 40%;
        font-size: 0.8rem;
        padding-left: 5vh;
        padding-top: 15vh;
    }

    .intro>.left>ul>h1 {
        font-size: 1.2rem;
    }


    .regestation {
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 5vh 0;
    }

    .regestation>.left {
        width: 70%;
        height: 70vh;
        align-items: center;
        border-radius: 0;
        margin: 5vh 0;

    }

    .regestation>.left>.left_content {
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 7vh 3vh;
    }

    .regestation>.right {
        width: 80%;
        padding: 2vh;
        justify-content: center;
    }


    .reg_form>div {
        width: 50vh;
        height: 50px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        margin: 3vw 0;
    }

    #reg_submit {
        margin-left: 10%;
        height: 5vw;
        width: 25vw;
        letter-spacing: 5px;
        border-radius: 5px;
        font-size: 1.05rem;
    }

    .clg_details_main {
        font-size: 0.7rem;
        margin: 5vh 0;

    }

    .clg_details_main>input {
        width: 20vh;
        font-size: 0.95rem;
    }

    #create_clg {
        height: auto;
        width: 100%;
        justify-content: center;
    }


    .allContent_create_clg {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
        margin: 5vh;
    }



    .allContent_create_clg>.right {
        width: 100%;
        margin-bottom: 7vh;
        font-size: 0.5rem;
    }


    .allContent_create_clg>.left {
        width: 100%;
        font-size: 0.5rem;
        height: 50vh;
    }


    .clg_create_from>div>label {
        font-size: 20px;
    }

    .clg_create_from>div>input {
        font-size: 1rem;

    }

    #create_clg_btn {
        width: 20vw;
        height: 4vh;
        font-size: 0.8rem;
        font-weight: 400;
        letter-spacing: 3px;
    }


    .footer {
        height: 4vh;
        margin-top: 5vh;
        font-size: 1.3rem;
        letter-spacing: 5px;
        word-spacing: 10px;
        text-align: center;
    }


    footer {
        flex-direction: column;
        height: auto;
        padding: 2vh 0;
    }

    footer>.left {
        width: 65%;
        height: auto;
        margin: 10vh;
        height: 95vh;
    }

    .left_content_foot {
        padding: 5vh ;
    }


    .feed_form{
        width: 100%;
    }

    
    .feed_form > h1{
        padding: 0.5vh;
        font-size: 1.5rem;
        width: 20vh;
        border-radius: 1vh;
        left: 28%;
        top: -30px;
    }

    #feed_msg {
        width: 40vh;
    }

    footer>.right {
       
        width: 85%;
    }

    
    .dev_img_social {
        height: 25vh;
    }

    #about_img {
        height: 20vw;
        width: 20vw;
    }

    .dev_img_social>div>h1 {
        color: white;
        font-size: 2rem;
    }

    .logos {
        margin: 1vh ;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 10px;
    }

    .dev_info{
        font-size: 1rem;
    }



}



/* Animation Start here ---------------------> */

@keyframes progressForLoadData {

    0% {
        width: 10%;
    }

    100% {
        width: 70%;

    }

}